<html>
        <%quotes = [{author: "Ralph Waldo Emerson",text: 'Adopt the pace of nature: her secret is patience'},{author: "Henry David Thoreau", text: 'There are moments when all anxiety and stated toil are becalmed in the infinite leisure and repose of nature'},{author: "Claude Monet", text:'My wish is to stay always like this, living quietly in a corner of nature.'},{author: "Marie Curie", text:'All my life through, the new sights of Nature made me rejoice like a child.'},{author: "Helen Keller", text:'To me a lush carpet of pine needles or spongy grass is more welcome than the most luxurious Persian rug.'},{author: "Ruskin Bond", text:'I get inspiration from a lot of things around me - nature, hills, people, and even insects.'},{author: "Robert Browning", text:'I trust in nature for the stable laws of beauty and utility. Spring shall plant and autumn garner to the end of time.'}] %>

        <% num = Math.floor(Math.random() * 7);%>
        
    <% include ./head %>
    
    <body class="is-preload">

            <!-- Page Wrapper -->
			<div id="page-wrapper">
                    <!-- Header -->
                        <header id="header" class="alt">
                            <h1><a href="index.html">Your Camps</a></h1>
                            <nav>
                                    <% if(!currentUser){ %>
                                       <a href="/login">login</a>
                                       <a href="/register">Sign Up</a>
                                   <% }else{ %>
                                       <a class="user">SIGNED IN AS : 
                                           <span><%=currentUser.username %> </span>
                                       </a>
                                       <a href="/logout">log out</a>
   
                                   <%} %>
                               </nav>
                            <% if(info && info.length > 0){ %>

                                <div class="flashmess info">
                                    <%= info %>
                                </div>

                            <% } else if (success && success.length > 0){ %>

                                <div class="flashmess success">
                                    <%= success %>
                                </div>

                            <% } %>

                            
                        </header>

                    <!-- Banner -->
					<section id="wrapper">
                        <header>
                            <div class="inner">
                                <h2>Nature</h2>
                                <p><%=quotes[num]['text']%>- <strong><%=quotes[num]['author']%></strong></p>
                                <ul class="actions">
                                    <li><a href='/'' class="button">back to home page</a></li>
                                </ul>
                            </div>
                            </header>
                    </section>

                    

    
                

