<% include partials/header_big %>
<!-- <h4><%=currentUser%></h4> -->
    <!-- Wrapper -->
    <section id="wrapper">
        <!-- Four -->
        <section id="four" class="wrapper alt style1">
                <div class="inner">
                    <h2 class="major">All camps</h2>
                    

                    <ul class="actions">
                        <li><a href='/campgrounds/new' class="button">Add new camp</a></li>
                    </ul>

                    <section class="features">

                        <% campgrounds.forEach((camp)=>{ %>

                        <article>
                            <a class="image"><img src='/images/<%= camp['img'] %>.jpg' alt="" />
                                <span class="camp_creator"> created by: 
                                    <b><%= camp.author.username%></b>
                                        </span>
                            </a>

                            <h3 class="major"><%= camp['name'] %></h3>
                            <p><%= camp['desc'] %></p>
                            <a href="/campgrounds/<%= camp['_id'] %>" class="special">show details</a>
                        </article>

                        <% }) %>
                       
                    </section>
                   
                </div>
            </section>
    </section>

<div>



<% include partials/footer %>
