<% include ../partials/header_small %>

    <!-- Wrapper -->
    <section id="four" class="wrapper alt style1">
        <div class="inner show-det">
            <ul class="actions">

                <li><a href='/' class="button">Back to all camps</a></li>
                <li><a href='/campgrounds/<%= foundCamp._id %>/edit' class="button secondary">edit</a></li>

                <form action='/campgrounds/<%= foundCamp._id %>?_method=DELETE' method="POST">
                    <li><button class="button warning">delete</button></li>
                </form>

            </ul>

            <h3 class="major"><%= foundCamp.name %>  - camp details <span class="submitted">submitted by: <b><%= foundCamp.author.username %></b></span></h3>
            <p>
                
                <span class="image left">
                <img src='/images/<%= foundCamp.img %>.jpg' alt="" />
                </span>
                <%= foundCamp.desc %>
            </p>
            
            
        </div>
        <section>
        <div class="inner">
            
            	<div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td>29.99 $ / night</td>
                                </tr>
                                <tr>
                                    <td>Reviews</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Rating</td>
                                    <td>4 stars</td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                    

            <ul class="actions">

                <form action='/campgrounds/<%= foundCamp._id %>/comments/new' method="GET">
                    <li><button class="button secondary">add comment</button></li>
                </form>

            </ul>

            <h4 class="major">comments: <%=foundCamp.comments.length %></h4>

            <% foundCamp.comments.forEach(comment => { %>
                <div class="comments-btns">
                    <blockquote>
                        <h5><%= comment.author.username %></h5>
                        <%= comment.text %>

                    </blockquote>
                    <div class="comments-btns-group">
                        <a href="/campgrounds/<%=foundCamp._id%>/comments/<%=comment._id%>/edit" class="button secondary">edit</a>
                        <form method="post" action="/campgrounds/<%= foundCamp._id %>/comments/<%=comment._id%>?_method=DELETE">
                            <input type="submit" class="button warning" value="delete"></a>
                        </form>
                    </div>
                </div>
            <% }); %>

        </div>
        </section>
    </section>
<% include ../partials/footer %>
